---
import Menu from "../headerComponents/Menu.tsx";
import type { RootObject } from "../../interfaces/dbData.ts";
import MenuMobile from "../headerComponents/MenuMobile.tsx";
import ToggleButton from "../global/ToggleButton.tsx";
const response = await fetch(import.meta.env.API_URL);
const data: RootObject = await response.json();
---

<header transition:animate="none">
  <div class="md:flex flex-col hidden md:mb-[-30px]">
    <div class="w-full bg-gray-100">
      <div
        class="text-black flex justify-between md:w-[70%] w-full mx-auto py-4 md:px-8 rounded-br-xl rounded-bl-xl items-center font-bold"
      >
        <div class="flex gap-6">
          {
            data.dataGeneral.phones.slice(0,2).map((item) => {
              return (
                <a
                  href={`tel:+1${item.number}`}
                  class="flex items-center gap-2"
                >
                 
                  <span class="icon-tree-services text-black text-[60px]"
                  style={{ color: data.colors.secondaryColor }}
                  ></span>
                  <div class="flex flex-col">
                    <span>{item.title}</span>
                    <span>(+1) {item.number}</span>
                  </div>
                </a>
              );
            })
          }
        </div>
        <div class="flex flex-col">
          {
            data.dataGeneral.emails.map((item) => {
              return (
                <a href={`mailto:${item.email}`}>
                  <i
                    class={`fa-solid fa-envelope text-[22px]`}
                    style={{ color: data.colors.secondaryColor }}
                  />
                  <span>{item.email}</span>
                </a>
              );
            })
          }
        </div>
        <div>
          <div>
            <i
              class={`fa-solid fa-arrow-right text-[22px]`}
              style={{ color: data.colors.secondaryColor }}></i>
            <span>{data.name}</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="md:w-[70%] w-full mx-auto py-1 flex items-center justify-between md:px-6 rounded-2xl"
    >
      <img
        src={data.logos.secondary}
        alt={data.name}
        class="max-w-[200px] max-h-[200px] object-contain"
        width="200"
        height="200"
        loading="lazy"
      />

      <div class="flex gap-4 font-bold">
        <div>
          {
            data.dataGeneral.location.slice(0, 1).map((item) => {
              return (
                <div class="flex border-r-[1px] border-white px-8 py-4">
                  <span
                    style={{ backgroundColor: data.colors.primaryColor }}
                    class="p-4 bg-opacity-30 flex justify-center items-center rounded-2xl w-[50px] h-[50px] "
                  >
                    <i class={`fa-solid fa-map text-[26px] text-white`} />
                  </span>
                  <div class="flex flex-col pl-2">
                    <span
                      class="font-bold text-[20px]"
                      style={{ color: data.colors.primaryColor }}
                    >
                      Location
                    </span>
                    <span>{item.city}</span>
                  </div>
                </div>
              );
            })
          }
        </div>
        <div>
          {
            data.dataGeneral.openingHours.slice(0, 1).map((item) => {
              return (
                <div class="flex px-8 py-4">
                  <span
                    style={{ backgroundColor: data.colors.primaryColor }}
                    class="p-4 bg-opacity-30 flex justify-center items-center rounded-2xl w-[50px] h-[50px] "
                  >
                    <i
                      class={`fa-solid fa-calendar-alt text-[26px] text-white`}
                    />
                  </span>
                  <div class="flex flex-col pl-2">
                    <span
                      class="font-bold text-[20px]"
                      style={{ color: data.colors.primaryColor }}
                    >
                      {item.days}
                    </span>
                    <span>{item.hours}</span>
                  </div>
                </div>
              );
            })
          }
        </div>
        <div class="flex items-center">
          <ToggleButton client:load data={data} />
        </div>
      </div>
    </div>
    <div class="flex items-center shadow-lg">
      <div class="flex w-full">
        <div
          class="md:w-[70%] w-full md:h-[70px]"
          style={{ backgroundColor: data.colors.primaryColor }}
        >
          <div
            class="md:w-[70%] mx-auto md:h-[70px] flex self-center items-center"
          >
            <Menu data={data} styleList="text-white" client:load />
          </div>
        </div>
        <div
          class="flex gap-2 md:w-[20%] w-full px-4 rounded-tr-full rounded-br-full md:h-[70px] border-l-8 border-white"
          style={{ backgroundColor: data.colors.secondaryColor }}
        >
          {
            data.redesSociales.map((item) => {
              return (
                <a
                  style={{ backgroundColor: data.colors.primaryColor }}
                  href={item.link}
                  target="_blank"
                  aria-label={item.name}
                  class={`bg-[${data.colors.primaryColor}] w-10 h-10 flex justify-center items-center self-center rounded-xl text-[18px] text-white`}
                >
                  <i class={`fa-brands fa-${item.icon}`} />
                </a>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
  <div class="md:hidden block">
    <MenuMobile data={data} client:visible />
  </div>
</header>
