---
import Layout from "../../layouts/Layout.astro";
import PortfolioDetails from "../../components/portfolio/PortfolioDetails";
import type { RootObject, LandingsGallery } from "../../interfaces/dbData";
import TransparentHeader from "../../components/global/TransparentHeader.astro";
import FormatText from "../../hooks/FormatText";
const { id } = Astro.params;
const response = await fetch(import.meta.env.API_URL);
const data: RootObject = await response.json();

// Encontrar el servicio por ID
const landingGallery = data?.landingsGallery.find(
  (landing: LandingsGallery) => FormatText(landing.nameLanding) === id
);
---

<Layout
  title={`${landingGallery?.nameLanding} | ${data.name}`}
  description={data.about[0].text}
  favicon={data.logos.primary}
  featuredImage={landingGallery?.imgLanding[0]!}
  keywords={data.services.map((service) => service.title).join(", ")}
>
  <TransparentHeader
    title={landingGallery?.nameLanding}
    image={landingGallery?.imgLanding[2]!}
  />
  <div class="md:w-[70%] mx-auto w-[95%] md:py-24 py-4 flex flex-wrap">
    <PortfolioDetails data={landingGallery} client:visible />
  </div>
</Layout>
